# Arquivo real de ambiente (segredo)
.env
BancoDeDadosBase.json

# Variações locais
.env.local
.env.dev
.env.prod

# Dependências (PHP / Composer)
vendor/
phpmailer/

# Node (se usar)
node_modules/

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log